@tailwind base;
@tailwind components;
@tailwind utilities;

/* For list-view */

.category {
    display: flex;
    align-items: center;
    /* To center the images horizontally */
    justify-content: center;
    /* To align images to the top */
    margin-bottom: 70px;

}

.category img {
    width: 270px;
    height: 330px;
    display: flex;
    margin: 0 20px;
}

.list-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-view img{
    margin: 20px;
}


.home-h1{
    font-size: 30px;
    padding-left: 360px;
}



footer{
    width: 100vw;
    background: linear-gradient(#555161, #3d3a45);
    color: white;
}


/* For Cart */
.main-container {
    width: 100%;
    margin: auto;
    
}

.cart-title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 50px;
}



.cart-item {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #ccc; */
    padding: 20px 40px;
}

.cart-item-image-box {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #ddd;
    /* Adjust to get a circle or square */
    border-radius: 50%; /* Circle */
    /* border-radius: 0; /* Square */
    display: inline-block;
}

.cart-item-details {
    width: 100%;
justify-content: space-between;
    display: flex;
    align-items: center;
}


.item-name {
    font-weight: 600;
}

.item-quantity{
    text-align: center;
}
.price{
   text-align: right; 
}

.item-remove {
    color: red;
    border: none;
    cursor: pointer;
}

.cart-summary {
    text-align: right;
    padding: 10px 0;
}
.summary-items{
    text-align: center;
    margin-left: 90px;
}
.summary-total{
    margin-right: 20px;
    margin-bottom: 40px;
}
.summary-checkout {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    
}

footer{
    width: 100vw;
    background: linear-gradient(#555161, #3d3a45);
    color: white;
    margin-top: 20px;
}


/* for product-details view */
.prod-details-container{
    width: 70%;
    height: 500px;
    background-color: red;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
}

.prod-desc-image{
    width: 40%;
    height: 500px;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.main-img{
    width: 100%;
    height: 65%;
    background-color: green;
}

.small-img{
    width: 100%;
    height: 35%;
    background-color: orange;
    display: flex;
    flex-direction: row;
}

.img1{
    width: 44%;
    height: 96%;
    margin:2%;
    background-color: yellow;
}

.img2{
    width: 44%;
    height: 96%;
    margin: 2%;
    background-color: yellow;
}


.details{
    width: 70%;
    height: 500px;
    background-color: blue;
}


